
.text-example p {
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #333;
}

.windows {
    font-family: "Sour Gummy", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #0072ff;
    line-height: 1.6;
    margin: 10px;
}

.linux {
    font-family: "Sour Gummy", sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #1a8f2b;
    line-height: 1.6;
    margin: 10px;
}

.apple {
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-size: 1em;
    font-weight: 400;
    color: #f27474;
    line-height: 1.6;
    margin: 10px;
}